{% extends 'navbar.html' %}

{% block homebut %}
0.4
{% endblock homebut %}

{% block aboutbut %}
0.8
{% endblock aboutbut %}

{% block pokedexbut %}
0.4
{% endblock pokedexbut %}

{% block battlebut %}
0.4
{% endblock battlebut %}

{%block content%}
<!-- all html for body goes here -->
<br><br>
<div class="container-sm rounded border" style="background-color: rgb(255, 255, 255, 0.3); color: whitesmoke;">
  <b style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;">
    Welcome to Astromon, short for Astral Pokemon!
    <br><br>
    Have you ever wanted to see Pokemon battle in someplace other than a regular old grassy landscape? Look no further, because our Astromon battle between universes and galaxies.
    <br><br>
    When pressing the Battle tab on our navigation bar, you will watch as Astromon get selected for battling. Five Astromon will be selected for your squad, and you will get to choose who battles first.
    Since we promote free will for our Astromon, they will fight on their own as you watch them battle for glory in the stars. If your first choice dies, you may choose the next Astromon to take its place and battle on.
    <br><br>
    You will win if you defeat all of the enemy's five Astromon, and you'll claim glory and honor for your Astral squad.

    If all your Astromon are lost, then you can battle again shortly after to redeem yourself.
    <br><br>
    Have fun, and good luck battling!
  </b>
</div>
{%endblock content%}
