{% extends 'navbar.html' %}

{% block background %}
background: url(https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/pass/pulsar-831502910.jpg), #11181e; background-size: 100%; background-repeat: no-repeat;
{% endblock background %}

{% block homebut %}
0.4
{% endblock homebut %}

{% block aboutbut %}
0.4
{% endblock aboutbut %}

{% block pokedexbut %}
0.4
{% endblock pokedexbut %}

{% block battlebut %}
0.8
{% endblock battlebut %}

{%block content%}
<!-- all html for body goes here -->
    <br>
    <div class="container-lg" style="background-color: rgba(255, 0, 0, 0.25);">
        <br>
        <div class="row justify-content-center">
            <div class="col-5 ">
              <br>
              <div class="card" style="width: 90%; background: #11181e;  margin-left: 5%;">
                <img class="card-img-top" src={{opponent.sprite}} alt="Enemy Pokemon Sprite" style="width: 100%">
                <div class="card-body">       
                    <h5 class="card-title" style="color: white"><strong>{{opponent.name}}</strong></h5>
                    {% for type in opponent.types %} 
                      <a href="https://pokemondb.net/type/{{type}}" target="_blank" class="btn btn-primary" style="background: {{colors[type]}};">{{type.title()}}</a>
                    {% endfor %}
                </div>
              </div>
              <br>
            </div>
          </div>
        <br>
    </div>
    <div class="container-lg" style="background-color: rgba(0, 81, 255, 0.25);">
        <br>
        <div class="row">
            {% for mon in mons%}
                <div class="col-md-3">
                    <div class="card" style="width: 100%; background: #11181e;">
                        <img class="card-img-top" src={{mon.sprite}} alt="Pokemon Sprite" style="width: 100%">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white"><strong>{{mon.name}}</strong></h5>
                            <p class="card-text">
                                {% for type in mon.types %} 
                                <a href="https://pokemondb.net/type/{{type}}" target="_blank" class="btn btn-danger" style="background: {{colors[type]}};">{{type.title()}}</a>
                                {% endfor %}
                            </p>
                            <form action = '/result' method = "post">
                                <input type = "hidden" name = "selected" value = '{{mon.name}}'>
                                <button type="submit" class="btn btn-danger">BATTLE!</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
          <br>
    </div>



{%endblock content%}
