{% extends 'navbar.html' %}

{% block background %} 
background: url(https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/pass/pulsar-831502910.jpg), #11181e; background-size: 100%; background-repeat: no-repeat;
{% endblock background %}

{% block homebut %}
0.4
{% endblock homebut %}

{% block aboutbut %}
0.4
{% endblock aboutbut %}

{% block pokedexbut %}
0.4
{% endblock pokedexbut %}

{% block battlebut %}
0.8
{% endblock battlebut %}

{%block content%}
<!-- all html for body goes here -->
{% for image in images %}
  <a href={{url_for ('about', selected_pokemon = "hi")}}><img src="{{image}}" alt="Pokemon"></a>
{% endfor %}
{%endblock content%}