{% extends 'navbar.html' %}

{% block background %}
background: #11181e;
{% endblock background %}

{% block homebut %}
0.4
{% endblock homebut %}

{% block aboutbut %}
0.4
{% endblock aboutbut %}

{% block pokedexbut %}
0.4
{% endblock pokedexbut %}

{% block battlebut %}
0.4
{% endblock battlebut %}

{%block content%}
<br><br>
<div class="card text-center" style="width: 35rem; margin-left: 30%;">
    <div class="card-header">
        Our Pokemon have run into an error...
      </div>
    <img src="{{ url_for('static', filename = 'pikacry.gif') }}" class="card-img-top" alt="pikacry.gif">
    <div class="card-body">
      <p class="card-text">Please press the link below to go back to the home page.</p>
      <a href="{{url_for('home')}}" class="btn btn-primary">Return to safety</a>
    </div>
  </div>
{%endblock content%}
