{% extends 'navbar.html' %}

{% block background %} 
background: url(https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/pass/pulsar-831502910.jpg), #11181e; background-size: 100%; background-repeat: no-repeat;
{% endblock background %}

{% block homebut %}
0.8
{% endblock homebut %}

{% block aboutbut %}
0.4
{% endblock aboutbut %}

{% block pokedexbut %}
0.4
{% endblock pokedexbut %}

{% block battlebut %}
0.4
{% endblock battlebut %}

{%block content%}
<!-- all html for body goes here -->
<div class="container" style="padding-bottom: 5%;">
  <img src="{{ url_for('static', filename = 'title.png') }}" alt="title" style="width:65%; margin-left: 18%; padding-top: 5%;"/>
</div>
{%endblock content%}