{% extends 'navbar.html' %}

{% block homebut %}
0.8
{% endblock homebut %}

{% block aboutbut %}
0.4
{% endblock aboutbut %}

{% block pokedexbut %}
0.4
{% endblock pokedexbut %}

{% block battlebut %}
0.4
{% endblock battlebut %}

{%block content%}
<div class="container" style="padding-bottom: 5%;">
  <img src="https://static1.textcraft.net/data1/e/a/ea419b2a002aeeb3649fad4175ea195164bd7d74da39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd80709c12b639a32e25717f97130f8e9ae15cc.png" alt="title" style="width:65%; margin-left: 18%; padding-top: 5%;">
</div>
{%endblock content%}