{% extends 'navbar.html' %}

{% block homebut %}
0.4
{% endblock homebut %}

{% block aboutbut %}
0.4
{% endblock aboutbut %}

{% block pokedexbut %}
0.8
{% endblock pokedexbut %}

{% block battlebut %}
0.4
{% endblock battlebut %}

{%block content%}
<!-- all html for body goes here -->
<div class="container-sm" style="background-color: rgb(255, 255, 255, 0.3);">
    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample" style="background-color: inherit;">
        <!--NORMAL-->
        {% for i in range(13) %}
            <div class="accordion-item" style="background-color: inherit;">
                <h2 class="accordion-header" id="panelsStayOpen-heading{{accordion[i]}}" style="background-color: inherit;">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{accordion[i]}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{accordion[i]}}">
                    {{types[i]}}
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse{{accordion[i]}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{accordion[i]}}" style="background-color: inherit;">
                    <div class="accordion-body">
                    <strong>Moves: {{moves[i][0]}}, {{moves[i][1]}}, {{moves[i][2]}}, {{moves[i][3]}}</strong><br>
                    <!-- CARD SETUP GOES HERE -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{%endblock content%}