{% extends 'navbar.html' %}

{% block background %} 
background: #11181e;
{% endblock background %}

{% block homebut %}
0.4
{% endblock homebut %}

{% block aboutbut %}
0.4
{% endblock aboutbut %}

{% block pokedexbut %}
0.8
{% endblock pokedexbut %}

{% block battlebut %}
0.4
{% endblock battlebut %}

{%block content%}
<!-- all html for body goes here -->
<body style="background: #11181e;;">
<div class="container-sm" style="background-color: rgb(104,160,144,0.1);">
    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample" style="background-color: inherit;">
        <!--NORMAL-->
        {% for i in range(13) %}
            <div class="accordion-item" style="background-color: inherit;">
                <h2 class="accordion-header" id="panelsStayOpen-heading{{accordion[i]}}" style="background-color: inherit;">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{accordion[i]}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{accordion[i]}}">
                    {{types[i].title()}}-Type Pokemon
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse{{accordion[i]}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{accordion[i]}}" style="background-color: inherit;">
                    <div class="accordion-body">
                    <h5 style="text-decoration: underline; text-align: center; color: white">Moves</h4>
                    <h6 style="text-align: center; color:white"><strong>{{moves[i][0]}}, {{moves[i][1]}}, {{moves[i][2]}}, {{moves[i][3]}}</strong></h6><br>
                    <div class="row">
                        {% for mon in mons[i*4:4+i*4] %}
                            <div class="col-md-3">
                                <div class="card" style="width: 100%; background: #11181e;">
                                    <img class="card-img-top" src={{mon.sprite}} alt="Pokemon Sprite" style="width: 100%">
                                    <div class="card-body">
                                    <h5 class="card-title" style="color: white"><strong>{{mon.name}}</strong></h5>
                                    <p class="card-text">
                                        {% for type in mon.types %} 
                                        <a href="https://pokemondb.net/type/{{type}}" target="_blank" class="btn btn-primary" style="background: {{colors[type]}};">{{type.title()}}</a>
                                        {% endfor %}
                                    </p>
                                    <a href="https://www.pokemon.com/us/pokedex/{{mon.number}}" target="_blank" class="btn btn-primary" style="width: 100%; background: #68A090">Explore!</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
{%endblock content%}